#headshot {
  height: 160px;
  width: 140px;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#aboutme {
  padding-left: 10px;
  padding-right: 10px;
}


#projects-panel {
  background-color: rgba(2,211,255,0.1);
}

span {
  font-weight: bold;
  font-style: italic;
}

.skills {
  color:red;
}

#about-panel {
  background-color: rgba(135,255,165,0.1);
}

#bginfo {
  background-color: rgba(255,104,115,0.1);

}

.panel {
  font-size: 16px;
}

#logos {
  width: 80px;
  height: 80px;
}

#logosl {
  width: 160px;
  height: 80px;
}

.media-object {
  height: 64px;
  width: 64px;
}

.media p {    /* cascading */
 font-family: cursive;
}
